
<form>


	<div class="row">
		<div class="large-12 columns">
			<label>SKU</label>
			<input type="text" ng-model="article.sku">
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<label>Name</label>
			<input type="text" ng-model="article.name">
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<label>Kategorie</label>
			<select ng-options="category._id as category.name for category in categories" 
				ng-model="article.category">				
			</select>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<label>Slug</label>
			<input type="text" ng-model="article.slug">
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<label>Bild</label>
			<input type="text" ng-model="article.image">
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<label>Preis</label>
			<input type="text" ng-model="article.price">
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<label>Beschreibung</label>
			<textarea ng-model="article.description"></textarea> 
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<input type="radio" ng-model="article.active">
        	<label>Aktiv</label>
        </div>
	</div>
</form>