 <div class="row">
	<div class="columns large-12">
		 <table ng-if="articles.length > 0">
		  <thead>
		    <tr>
		      <th width="100">SKU</th>
		      <th width="200">Name</th>
		      <th width="6000">Description</th>
		      <th width="150">Price</th>
		      <th width="100">Edit</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="article in articles">
		      <td>{{ article.sku }}</td>
		      <td>{{ article.name }}</td>
		      <td>{{ article.description }}</td>

		      
		      <td>{{ article.price }}</td>
		      <td><a ui-sref="admin.article-detail({id: article._id})">Edit</a></td>
		     
		    </tr>   
		  </tbody>
		</table>
		<span ng-if="!(articles.length > 0)">No articles found!</span>
	</div>
</div>

<div class="row">
	<div class="columns large-12">
		<a ui-sref="admin.article-new" class="button">Create new Article</a>
	</div>
</div>

