
        <form>

          <div class="row">
            <div class="columns large-12">

              <label>Payment Option
        <select ng-model="order.payment">
          <option value="visa">VISA</option>
          <option value="advance">Advance Payment</option>
        </select>
      </label>

             
              </div>
            </div>
         

        
          
  

<div class="row">
  <div class="columns large-6"><a class="button" ui-sref="shop.checkout.delivery">Zur&uuml;ck</a></div>
   <div class="columns large-6"><a  class="button right" ui-sref="shop.checkout.confirmation">Weiter</a></div>
</div>


          

          </form>

         
