		<div class="row">
		<div class="large-12 columns">



			<div class="row">
				<div class="large-12 columns">

					<top-bar>
						<ul class="title-area">

							<li class="name">
								<h1>
									<a ui-sref="shop.overview">
										Top Bar Title
									</a>
								</h1>
							</li>
							<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
						</ul>

						<top-bar-section>

							<ul class="right">								
								<li ng-repeat="category in categories"><a ui-sref="shop.categories({ id : category._id})">{{ category.name}}</a></li>
							</ul>
						</top-bar-section>
					</topbar>

				</div>
			</div>

<div ui-view></div>




			<footer class="row">
				<div class="large-12 columns"><hr/>
					<div class="row">

						<div class="large-6 columns">
							<p>© Copyright no one at all. Go to town.</p>
						</div>

						<div class="large-6 columns">
							<ul class="inline-list right">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
								<li><a href="#">Link 4</a></li>
							</ul>
						</div>

					</div>
				</div>
			</footer>



		</div>
	</div>